<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-xs-8">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="getVideoSuggestion($event)" >
        </div>
        <div class="col-xs-4">

            <button type="button" class="btn btn-success" (click)="onSubmit(searchTerm)">Search</button>

        </div>
        <div class="col-xs-8">
            <ul class="list-group" *ngIf="searchTerm">
                <li class="list-group-item" *ngFor="let suggestion of videoSuggestionList "  (click)="onSubmit(suggestion)"><a class="list-group-item" style="cursor: pointer;" >{{suggestion}}</a></li>
            </ul>
        </div>
    </div>

    
    <div class="row">
        
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <ul class="list-group" *ngIf="videoList">
                    <li class="list-group-item clearfix" *ngFor="let video of videoList " >
                        <a class="list-group-item clearfix" style="cursor: pointer;" >
                            <div class="pull-left">
                                    <h4 class="list-group-item-heading">{{ video.snippet.title }}</h4>
                                    
                            </div>

                            <span class="pull-right">
                                    <img
                                      [src]="video.snippet.thumbnails.default.url"
                                      alt="{{ video.snippet.title }}"
                                      class="img-responsive"
                                      style="max-height: 100px;">
                            </span>
                        </a>
                    </li>
            </ul>
        </div>
        
    </div>
    
</div>